__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/
build/
dist/
.eggs/
*.egg-info/
*.egg
.pytest_cache/
.coverage*
.tox/
.nox/
.hypothesis/
.mypy_cache/
.pytype/
.pyre/
.idea/
*.iml
*.ipr
*.iws
out/
cmake-build-*